include res/most-syllables-toneless.txt
include res/most-syllables.txt
include res/possible-syllables-tone3.txt

graft src/pinyin_to_ipa_tests/
graft src/pypinyin_tests/

include \
  CHANGELOG.md \
  CODE_OF_CONDUCT.md \
  CONTRIBUTING.md \
  CITATION.cff \
  LICENSE \
  MANIFEST.in \
  README.md \
  pyproject.toml

global-exclude \
  *~ \
  *.py[cod] \
  *.so \
  .DS_Store

prune .*/
prune **/__pycache__/
