[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pinyin-to-ipa = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
tox = "*"
mypy = "*"
pandas-stubs = "*"
types-tqdm = "*"

[packages]
ordered-set = ">=4.1.0"
pypinyin = ">=0.50"

[requires]
python_version = "3.11"
